
html{
    background-color: #f3f7f0;
}
body{
    /*background-color: #99A8B5;*/
    background-color: #d0e0f6;
}


.main-container{
    border: 3px solid black;
    display: flex;
    flex-direction: column;


}
.homehead{
     border: 3px solid black;

}
.centerdiv{
     border: 3px solid black;
    height: 75px;
}
.middlebody,.upperpage{
     border: 3px solid black;
     
     display: flex;
     flex-direction: row;
}

.middleleft,.middleright{
    border: 3px solid black;
    height: 100px;
    width: 50%;
    margin: 5px;
}
.middlebottom{
    border: 3px solid black;
    height: 75px;
}

.centerdiv2{
    border: 3px solid black;
    height: 50px;
    background-color: #56799C;
}
.upperleft{
    border: 2px solid black;
    height:80px;
    width: 65%;
    margin: 15px;
}
.upperright{
    border: 2px solid black;
    height:80px;
    width: 35%;
    margin: 15px;
}
.middlecustom{
    display: flex;
    flex-direction: row;
height: 425px;
margin: 5px;
}
.toppings{
    border: 2px solid black;
    width: 40%;
    height: 325px;
    margin: 5px;
}
.ordercontainer{
       border: 2px solid black;
    width: 95%;
    height: 325px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}
.imagediv{
    border: 2px solid black;
    width: 50%;
    height: 300px;
    margin: 5px;
}
.listdiv{
   border: 2px solid black;
    width: 55%;
    height: 300px;
    margin: 5px;
}
.outsideorder{
        border: 2px solid black;
    display: flex;
    flex-direction: column;
    width:100%;
  
}
.buttoncontainer{
   
}
.checkoutdiv{
   
float: right;
margin-right: 43px;
    font-family: 'Baloo Bhaina',cursive;
    font-size: 1.5em;
    border:3px solid #A0AFBD;
background-color: #56799C;
 padding: 8px 10px 0px 10px;
border-radius: 15px;
box-shadow: 5px 5px 5px #222;
width: 15%;
color: white;
   
}
a{
    text-decoration: none;
    
    text-align: center;
}
#smallSize{
   font-family: 'Baloo Bhaina',cursive;
    font-size: 1.5em;
    border:3px solid #A0AFBD;
background-color: #56799C;
 padding: 8px 10px 0px 10px;
border-radius: 15px;
box-shadow: 5px 5px 5px #222;
width: 10%;
margin: 10px;
margin-left: 90px;
color: white;
}
#mediumSize{
   font-family: 'Baloo Bhaina',cursive;
    font-size: 1.5em;
    border:3px solid #A0AFBD;
background-color: #56799C;
 padding: 8px 10px 0px 10px;
border-radius: 15px;
box-shadow: 5px 5px 5px #222;
width: 13%;
margin: 10px;
margin-left: 25px;
color: white;
}

#largeSize{
   font-family: 'Baloo Bhaina',cursive;
    font-size: 1.5em;
    border:3px solid #A0AFBD;
background-color: #56799C;
 padding: 8px 10px 0px 10px;
border-radius: 15px;
box-shadow: 5px 5px 5px #222;
width: 13%;
margin: 10px;
margin-left: 25px;
color: white;
}

#xlSize{
   font-family: 'Baloo Bhaina',cursive;
    font-size: 1.5em;
    border:3px solid #A0AFBD;
background-color: #56799C;
 padding: 8px 10px 0px 10px;
border-radius: 15px;
box-shadow: 5px 5px 5px #222;
width: 20%;
margin: 10px;
margin-left: 25px;
color: white;
}
img{
    margin-bottom: 50px;
}
#pizza{
    display: block;
    margin: auto;
}
#baconImg{
    visibility: hidden;
position: relative;
display: block;
margin: auto;
bottom: 295px;
}
#baconLImg{
    visibility: hidden;
position: relative;
display: block;
margin: auto;
bottom: 560px;
}
#baconRImg{
visibility: hidden;
position: relative;
 display: block;
 margin: auto;
bottom: 830px;
}

#GreenPepperImg{
 visibility: hidden;
 position: relative;
 display: block;
 margin: auto;
bottom: 1125px;
}
#GreenPepperLImg{
     visibility: hidden;
 position: relative;
display: block;
 margin: auto;
bottom: 1425px;
}
#GreenPepperRImg{
     visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 1700px;
}

#HamImg{
    visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 1995px;
}
#HamLImg{
    visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 2275px;
}
#HamRImg{
    visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 2550px;
}
#MushroomImg{
     visibility: hidden;
  position: relative;
display: block;
 margin: auto;
bottom: 2830px;
}
#MushroomLImg{
     visibility: hidden;
  position: relative;
display: block;
 margin: auto;
bottom: 3110px;
}
#MushroomRImg{
     visibility: hidden;
    position: relative;
display: block;
 margin: auto;
bottom: 3400px;
}
#OliveImg{
       visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 3675px;
}
#OliveLImg{
       visibility: hidden;
 position: relative;
display: block;
 margin: auto;
bottom: 3960px;
}
#OliveRImg{
       visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 4250px;  
}
#OnionImg{
     visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 4525px;  
}
#OnionLImg{
     visibility: hidden;
 position: relative;
display: block;
 margin: auto;
bottom: 4825px;  
}
#OnionRImg{
     visibility: hidden;
 position: relative;
display: block;
 margin: auto;
bottom: 5100px; 
}
#PepperoniImg{
     visibility: hidden;
 position: relative;
display: block;
 margin: auto;
bottom: 5375px; 
}
#PepperoniLImg{
     visibility: hidden;
  position: relative;
display: block;
 margin: auto;
bottom: 5650px;  
}
#PepperoniRImg{
     visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 5950px;
}
#PineappleImg{
        visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 6230px;
}
#PineappleLImg{
        visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 6520px;
}
#PineappleRImg{
        visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 6785px;
}

#RedPepperImg{
    visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 7085px;
}
#RedPepperLImg{
    visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 7370px;
}
#RedPepperRImg{
    visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 7650px;
}
#SausageImg{
      visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 7925px;
}

#SausageLImg{
      visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 8210px;
}
#SausageRImg{
      visibility: hidden;
position: relative;
display: block;
 margin: auto;
bottom: 8490px;
}

p, h4, h2 {
    margin: 1px;
}